<footer class="page-footer back font-small pt-4 font-fam">
    <div class="container">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/qsegol/" target="_blank" class="icoInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/macieldg/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright copy-back text-center py-3">
        <span class="text-light">2021 Copyright: João Victor Maciel</span>

    </div>
</footer>
