#img-bg{
    background-image: url('https://i.imgur.com/vWCAIlX.png');

    min-height: 695px;

    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
}

#img-b:hover{
    background-image: url('https://i.imgur.com/jF9npw7.png');

    min-height: 695px;

    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.back{
    background-color: #171717;
}

.white{
    color: #f1f1f1;
}

.btn-config{
    background-color: #bf1f1d;
    color: #f1f1f1;
    border-radius: 20px;
}

.red{
    color: #bf1f1d;
}

.btn-transit{
    transition: 0.4s;
}

.btn-transit:hover{
 box-shadow: 0px 6px rgba(187, 0, 0, 0.445)
}
