.back{
    background-color: #1d1d1d;;
}

.back2{
    background-color: #171717;
}

.btn-config{
    background-color: #bf1f1d;
    color: #f1f1f1;
    border-radius: 20px;
    transition: 0.4s;
}

.btn-config:hover{
    
    border-color: #f1f1f1;
    color: #f1f1f1;
    border-radius: 20px;
}

.btn-config2{
    border-color: #f1f1f1;
    color: #f1f1f1;
    border-radius: 20px;
    transition: 0.4s;
}

.btn-config2:hover{
    background-color: #bf1f1d;
    color: #f1f1f1;
    border-radius: 20px;
}