.back{
    background-color: #1d1d1d;;
}

.back2{
    background-color: #171717;
}

.btn-config{
    background-color: #bf1f1d;
    color: #f1f1f1;
    border-radius: 20px;
    transition: 0.4s;
}

.postagem-config{
    background-color: #bf1f1d;
    color: #f1f1f1;
    border-color: #171717;
}

.btn-config:hover{
    
    border-color: #f1f1f1;
    color: #f1f1f1;
    border-radius: 20px;
}

.btn-config2{
    border-color: #f1f1f1;
    color: #f1f1f1;
    border-radius: 20px;
    transition: 0.4s;
}

.btn-config2:hover{
    background-color: #bf1f1d;
    color: #f1f1f1;
    border-radius: 20px;
}

.text-radius{
    border-radius: 20px;
    border-color: #bf1f1d;
}

.card-config{
    background-color: #171717;
    color: #f1f1f1;
    border-radius: 20px;
    transition: 0.9s;
    border-color: #bf1f1d;

}

.card-config:hover{
    transform: scale(1.1);
    z-index: 99;
    margin-top: 5%;
    background-color: #bf1f1d;
    color: #f1f1f1;
    border-radius: 20px;
    transition: 0.9s;
}

.card-text-config{
    color: #f1f1f1;
}

.font{
    color: #f1f1f1;
}

.font2{
   color: #bf1f1d;
}